body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
  text-align: left;
  width: 230px;
}

div.custtotal{
  width: 300px;
  margin-top: 5px;
}

div.custname {
  width: 70px;
  float: left;
}

div.custinput {
  width: 230px;
  margin-left: 75px;
}

#addcustomer {
  margin-left: 115px;
  margin-top: 5px;
}
